  <footer class="row mt-5 border-top text-bg-dark sticky-sm-bottom">
    <div class="col-3">
      <p class="text-center mt-4 mb-0">Crutchdev</p>
      <p class="text-center mt-0">© 2023</p>
    </div>
    <div class="col-3">
      <nav class="nav flex-column">
        <p class="text-center mt-4 mb-0">Categories</p>
        <p class="text-center my-0"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Some stuff</a></p>
        <p class="text-center my-0"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">More stuff</a></p>
      </nav>
    </div>
    <div class="col-3">
      <nav class="nav flex-column">
        <p class="text-center mt-4 mb-0">More</p>
        <p class="text-center my-0"><a href="{% url 'catalog:blog_list' %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Blog</a></p>
      </nav>
    </div>
    <div class="col-3">
      <nav class="nav flex-column">
        <p class="text-center mt-4 mb-0">About</p>
        <p class="text-center my-0"><a href="{% url 'catalog:contacts' %}" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Contacts</a></p>
      </nav>
    </div>
  </footer>