{% extends 'catalog/base.html' %}
{% block content %}
  <p class="h1 text-center my-5">Contacts</p>
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-4">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Country</th>
            <td>Japan/日本</td>
          </tr>
          <tr>
            <th scope="row">Company Number</th>
            <td>12311223335425</td>
          </tr>
          <tr>
            <th scope="row">Address</th>
            <td>埼玉県川口市長蔵2丁目</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <form method="post">
          {% csrf_token %}
        <div class="mb-3">
          <label for="InputName" class="form-label">Your name</label>
          <input class="form-control" id="InputName" name="InputName" aria-describedby="nameHelp">
        </div>
        <div class="mb-3">
          <label for="InputEmail" class="form-label">Your email address</label>
          <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="InputMessage" class="form-label">Your message to us</label>
          <textarea class="form-control" id="InputMessage" aria-describedby="messageHelp" name="InputMessage" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-light">Submit</button>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
{% endblock %}