<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Mystore</title>
    <link href="/static/catalog/css/bootstrap.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
    <div class="container-fluid gap-4">
      <a class="navbar-brand text-white"  href="#">Mystore</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav gap-2">
          <li class="nav-item">
            <a class="nav-link text-white d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2" href="contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <p class="h1 text-center mt-5">It's Mystore!</p>
  <p class="text-center fs-5 mt-3 mb-5">At first I'll just try to do something here, wait for a bit for a content.</p>
<div class="row">
  <div class="col-2"></div>
  <div class="col-4">
    <div class="card ms-3" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title fs-3">Something to buy</h5>
        <p class="card-text">- It's suuuper good, you should consider to buy</p>
        <p class="card-text">- There's not that many of it left in stock</p>
        <p class="card-text">- You not gonna find better deal on it</p>
        <p class="card-text">- I promise you need that</p>
        <p class="card-text">- Look 20 bucks is 20 bucks</p>
        <a href="#" class="btn btn-light">$20</a>
      </div>
    </div>
  </div>
</div>
  <div class="row mt-5 border-top fixed-bottom">
    <div class="col-3">
      <p class="text-center mt-4 mb-0">Crutchdev</p>
      <p class="text-center mt-0">© 2023</p>
    </div>
    <div class="col-3">
      <nav class="nav flex-column">
        <p class="text-center mt-4 mb-0">Categories</p>
        <p class="text-center my-0"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Some stuff</a></p>
        <p class="text-center my-0"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">More stuff</a></p>
        <p class="text-center my-0"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Some more stuff</a></p>
        <p class="text-center my-0"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Almost done</a></p>
        <p class="text-center my-0"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Last stuff</a></p>
      </nav>
    </div>
    <div class="col-3">
      <nav class="nav flex-column">
        <p class="text-center mt-4 mb-0">More</p>
        <p class="text-center my-0"><a href="#" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Blog</a></p>
      </nav>
    </div>
    <div class="col-3">
      <nav class="nav flex-column">
        <p class="text-center mt-4 mb-0">About</p>
        <p class="text-center my-0"><a href="/contacts/" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Contacts</a></p>
      </nav>
    </div>
  </div>

<script src="/static/catalog/js/bootstrap.bundle.js"></script>
</body>
</html>