{% extends 'catalog/base.html' %}
{% block content %}
  <p class="h1 text-center mt-5">It's Mystore!</p>
  <p class="text-center fs-5 mt-3 mb-5">At first I'll just try to do something here, wait for a bit for a content.</p>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <div class="card ms-3" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title fs-3">Something to buy</h5>
          <p class="card-text">- It's suuuper good, you should consider to buy</p>
          <p class="card-text">- There's not that many of it left in stock</p>
          <p class="card-text">- You not gonna find better deal on it</p>
          <p class="card-text">- I promise you need that</p>
          <p class="card-text">- Look 20 bucks is 20 bucks</p>
          <a href="#" class="btn btn-light">$20</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}