{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="text-center">
<!--      <img src="{{ object.preview|mymedia }}" class="rounded" alt="...">-->
      <img src="{% mediapath object.preview %}" class="rounded" alt="...">
    </div>
    <h1> {{ object.name }}</h1>
    <p> {{ object.description }}</p>
  </div>
  <div class="row">
    <button type="button" style="width: 10rem;" class="btn btn-light">${{ object.price }}</button>
  </div>
</div>
{% if user.is_authenticated %}
<div class="row">
  <div class="col-3 m-5">
    <div class="btn-group">
      <a href="{% url 'catalog:product_update' object.pk %}"
         class="btn btn-light">Edit product</a>
      <a href="{% url 'catalog:product_delete' object.pk %}"
         class="btn btn-light btn-outline-danger">Delete product</a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}